.splash-title {
  font-family: "Agustina Regular", cursive;
  font-weight: bold;
  color: #3d2064;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
}
