@font-face {
  font-family: 'Agustina Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Agustina Regular'), url('/fonts/Agustina.woff') format('woff');
  font-display: swap;
}

.logo-name {
  font-family: 'Agustina Regular', 'Montserrat', sans-serif;
  font-size: 28.5px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 8px;
  color: #3d2064;
}

.grey-color {
  color: #868e96;
  font-size: 28.5px;
  font-weight: 100;
}
html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.input{
  @apply w-full h-full bg-transparent outline-none focus:outline-none text-[#fff] placeholder:text-[#fff];
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  font-family: 'Montserrat', sans-serif;
}

.navbar-link {
  @apply text-black block px-5 py-3 relative text-xl font-light;
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.25rem;
  width: 100%;
  height: 2px;
  background: #FF7D29;
  transform: scaleX(0) scaleY(1);
  transform-origin: right;
  transition: transform 0.3s;
  will-change: transform;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}